aside {
  display: block;
  float: left;
  width: 20em;
  height: 100vh;
  background: rgba(0, 0, 0, 0.57);
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header {
  flex-direction: column;
}

footer {
  font-size: 2em;
  bottom: 0;
  width: 10em;
  height: 4em;
  position: absolute;
  z-index: 100;
}

header img {
  margin-top: 3em;
  width: 15em;
  height: 15em;
  border-radius: 100%;
}

footer img {
  width: 1em;
  margin: 1em;
}

a, a:active, a:visited {
  color: white;
}
