aside {
  display: block;
  position: fixed;
  z-index: 100;
  float: left;
  width: 20rem;
  height: 100vh;

}

header, nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header {
  flex-direction: column;
}
header a h1 {
  visibility: hidden;
}

figure {
  margin-top: 3rem;
  width: 11rem;
  height: 11rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  background: black;
  overflow: hidden;
  box-shadow: 4px 1px 9px rgba(0, 0, 0, 0.344);
}
figure img {
  margin: -2rem 0rem 0 -1.3rem;
  width: 13rem;
}

header h1 img {
  margin-top: 1rem;
  width: 10em;
}

nav {
  font-size: 2em;
  bottom: 0;
  width: 20rem;
  height: 5rem;
  position: absolute;
  z-index: 10;
}

nav img {
  width: 2.3rem;
  margin: 1rem;
}
nav img:hover {
  transform: scale(1.1);
}

a, a:active, a:visited {
  color: white;
}


footer {
  background: rgb(28, 28, 28);
  bottom: 0;
  width: 100vw;
  height: 5rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer h1 {
  margin-right: 1rem;
}
footer a img {
  margin-right: 1rem;
  height: 3rem;
}

@media only screen and (max-width: 425px) {
  aside {
    height: 0;
    width: 100vw;
  }
  header {
    position: absolute;
    z-index: 9;
  }
  figure {
    margin: 0rem;
    width: 100vw;
    height: 7.5vh;
    border-radius: 0;
    box-shadow: 4px 1px 9px rgba(0, 0, 0, 0.344);
  }
  figure img {
    visibility: hidden;
    margin: -8.8rem 0rem 0rem -1.8rem;
    width: 15.1em;
  }
  header a h1 {
    width: 50vw;
    visibility: visible;
    font-size: 1.2em;
    letter-spacing: .1em;
    position: absolute;
    z-index: 500;
    margin: 1.5rem -11rem;
  }
  nav {
    top: -.35rem;
    width: 100vw;
    justify-content: flex-end;
  }
  nav img {
    z-index: 11;
    margin: .7rem;
  }
}
