aside {
  display: block;
  float: left;
  width: 20em;
  height: 100vh;
  background: black;
  opacity: .6;
}
header {
  font: white;
}
footer {
  bottom: 0;
  height: 4em;
  width: 19.6em;
  position: absolute;
  z-index: 100;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 1;
}
